<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="dmai0917_1067608Entities" connectionString="metadata=res://*/DbConnection.Logging.csdl|res://*/DbConnection.Logging.ssdl|res://*/DbConnection.Logging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kraka.ucn.dk;initial catalog=dmai0917_1067608;user id=dmai0917_1067608;password=Password1!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="dmai0917_1067608Entities1" connectionString="metadata=res://*/DbConnection.WaterMachinesDb.csdl|res://*/DbConnection.WaterMachinesDb.ssdl|res://*/DbConnection.WaterMachinesDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kraka.ucn.dk;initial catalog=dmai0917_1067608;user id=dmai0917_1067608;password=Password1!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ClassLibrary1.Properties.Settings.dmai0917_1067608ConnectionString"
      connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmai0917_1067608;User ID=dmai0917_1067608;Password=Password1!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>