<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="customerTcpEndpoint" />
                <binding name="employeeTcpEndpoint" />
                <binding name="machinesTcpEndpoint" />
            </netTcpBinding>
            <ws2007HttpBinding>
                <binding name="customerHttpEndpoint" />
                <binding name="machinesHttpEndpoint" />
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceLibrary/Customers/"
                binding="ws2007HttpBinding" bindingConfiguration="customerHttpEndpoint"
                contract="CustomerReference.ICustomerService" name="customerHttpEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Customers/" binding="netTcpBinding"
                bindingConfiguration="customerTcpEndpoint" contract="CustomerReference.ICustomerService"
                name="customerTcpEndpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-LNM21H7\locac" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Employee/" binding="netTcpBinding"
                bindingConfiguration="employeeTcpEndpoint" contract="EmployeeLogin.IEmployeeLogin"
                name="employeeTcpEndpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-LNM21H7\locac" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceLibrary/Machines/"
                binding="ws2007HttpBinding" bindingConfiguration="machinesHttpEndpoint"
                contract="MachinesReference.IMachinesService" name="machinesHttpEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Machines/" binding="netTcpBinding"
                bindingConfiguration="machinesTcpEndpoint" contract="MachinesReference.IMachinesService"
                name="machinesTcpEndpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-LNM21H7\locac" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>