@model WebApplication.Models.AddMachineModel
@{
    ViewBag.Title = "Details";
    string img = "/Pictures/small.jpg";
    int val = 1;

}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .button {
        background: url(/Pictures/addToCart.jpg) no-repeat top left;
        display: block;
        height: 100px;
        text-indent: -9999px; /* hides the link text */
    }
</style>
<div class="row">
    <div class="col-sm-3">
        <h2>@Model.Name</h2>
        <h2>@Model.Id</h2>
        <p>@Model.Description</p>
    </div>
    <div class="col-sm-9">


        @switch (Model.Type)
        {
            case 1:
                img = "/Pictures/small.jpg";
                break;
            case 2:
                img = "¬/Pictures/medium.jpg";
                break;
            case 3:
                img = "¬/Pictures/big.jpg";
                break;

        }
        <img src=@img alt="Machine pic" style="width:30%" />


    </div>


    <div class="row" style="margin-top:250px">
        <div class="col-xs-3 col-xs-offset-3">
            <div class="input-group number-spinner">
                <span class="input-group-btn">
                    <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                </span>
                <input type="text" class="form-control text-center" value="1">
                <span class="input-group-btn">
                    <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            @Html.ActionLink("Add to cart", "AddToCart", "Order", new { Model.Id, val }, new { @class = "button" })

            
        </div>
    </div>

    <script>
        $(document).on('click', '.number-spinner button', function () {
            var btn = $(this),
                oldValue = btn.closest('.number-spinner').find('input').val().trim(),
                newVal = 0;

            if (btn.attr('data-dir') == 'up') {
                newVal = parseInt(oldValue) + 1;
            } else {
                if (oldValue > 1) {
                    newVal = parseInt(oldValue) - 1;
                } else {
                    newVal = 1;
                }
            }
            @val = newVal;
            btn.closest('.number-spinner').find('input').val(newVal);
        });

    </script>
